/* Bita Golshani */ 
/* CSS external style sheet */ 

header {
	color: white;
	font-family: georgia;
	text-align: center;
}
h1 {
	font-size: 50px;
	margin-bottom: -.3em;
}
h3 {
    font-weight: normal;
    font-style: italic;
}

body {
	background-color: rgb(50, 50, 50);
}

form { 
	text-align: center; 
	margin-top:"5%";
}

/* removes chrome yellow auto-fill bg color on input forms */
/* BUG: shadow comes a second too late, so pale yellow shows up temporarily */
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px white inset;
}

#button { 
    padding-top: 10px;
    text-align:center; 
    display:block;
}

input[type=text] {
	padding: 14px 24px;
	box-sizing: border-box;
    border: 3px solid #ccc;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

input[type=text]:focus {
	border: 3px solid #500;
}

#results {
	color: white;
	text-align: center;
	font-family: georgia;
}

#pixelmap {
	display: block;
	margin-left: auto;
	margin-right: auto;
}